.noun {
    background-color: #fbe6ce;
}
.indeclinable {
    background-color: #efefef;
}
.verb {
    background-color: #fbe6ce;
}
.adjective {
    background-color: #fdf3ce;
}
.adverb {
    background-color: #d1dfe3;
}
.pronoun {
    background-color: #d8ead4;
}
.interjection {
    background-color: #b5d8aa;
}
